@import url("../css/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.clubecert-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 480px 1fr;
      grid-template-columns: 480px 1fr;
  gap: 70px;
}

.clubecert-left {
  padding: 40px 48px;
  padding-right: 0;
}

.clubecert-left .clubecert-title {
  font-size: 34px;
  line-height: 46px;
  color: #48854B;
  font-weight: 300;
  padding: 20px 0;
}

.clubecert-left .clubecert-title b {
  font-weight: 700;
}

.clubecert-left form {
  display: -ms-grid;
  display: grid;
  gap: 23px;
}

.clubecert-left .box {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.clubecert-left .box .grope-box label {
  font-weight: normal;
  line-height: 91.9%;
  color: #AFAFAF;
  padding-bottom: 10px;
}

.clubecert-left .box .grope-box input {
  background: #F2F2F2;
  border: 1px dashed #AFAFAF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  margin-top: 8px;
}

.clubecert-left .select-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 30px 1fr;
      grid-template-columns: 35% 30px 1fr;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clubecert-left .select-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.clubecert-left .select-content ul .c_o {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
}

.clubecert-left .select-content ul .red {
  background: #FE0000;
}

.clubecert-left .select-content ul .green {
  background: #00FF01;
}

.clubecert-left .select-content ul .navy {
  background: #0100FE;
}

.clubecert-left .select-content .upload {
  height: 40px;
  background: #48854B;
  -webkit-box-shadow: 0px 4px 4px rgba(198, 198, 198, 0.25);
          box-shadow: 0px 4px 4px rgba(198, 198, 198, 0.25);
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clubecert-left .select-content span {
  font-size: 18px;
  line-height: 17px;
  color: #AFAFAF;
  text-transform: uppercase;
  padding-top: 32px;
}

.clubecert-left .title-s {
  font-weight: normal;
  font-size: 16px;
  line-height: 91.9%;
  color: #AFAFAF;
  padding-bottom: 15px;
}

.clubecert-left .card-template-btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.clubecert-left .card-template-btn a {
  border: 1px dashed #48854B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  height: 48px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 17px;
  color: #48854B;
}

.clubecert-left .card-template-btn .active {
  background: #48854B;
  -webkit-box-shadow: 0px 4px 4px rgba(198, 198, 198, 0.25);
          box-shadow: 0px 4px 4px rgba(198, 198, 198, 0.25);
  border-radius: 3px;
  color: #FFFFFF;
  font-weight: bold;
}

.clubecert-left .check-fild ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 13px 0;
}

.clubecert-left .check-fild li label {
  font-size: 16px;
  line-height: 91.9%;
  color: #AFAFAF;
  cursor: pointer;
}

.clubecert-left .check-fild li input {
  visibility: hidden;
  position: absolute;
}

.clubecert-left .check-fild li .check_btn + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 13px;
  height: 13px;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 3px;
  margin-top: 4px;
}

.clubecert-left .check-fild li .check_btn:checked + label:before {
  background: #48854B;
  -webkit-box-shadow: 0px 4px 4px #C1E1C3;
          box-shadow: 0px 4px 4px #C1E1C3;
}

.clubecert-left .check-fild li input:checked ~ label {
  color: #48854B;
  font-weight: 500;
}

.clubecert-left .clubecerto-logo li {
  display: inline-block;
  margin: 0 5px;
}

.clubecert-left .watermark {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 1fr;
      grid-template-columns: 110px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clubecert-left .watermark .title-s {
  padding-bottom: 0;
}

.clubecert-left .watermark .watermark-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.clubecert-left .watermark .watermark-btn .btn {
  width: 51px;
  height: 32px;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #48854B;
  border: 1px dashed #48854B;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.clubecert-left .watermark .watermark-btn .active {
  background-color: #48854B;
  color: #fff;
  font-weight: 600;
}

.clubecert-left .copy-right {
  padding-top: 35px;
}

.clubecert-left .copy-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.clubecert-left .copy-right li {
  display: inline-block;
}

.clubecert-left .copy-right p {
  font-size: 18px;
  line-height: 17px;
  color: #AFAFAF;
  padding-top: 10px;
}

.clubecert-left .copy-right p span {
  font-weight: 500;
  color: #48854B;
}

.clubecert-right {
  background-image: url(../img/right-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clubecert-right .clubecert-ttt {
  position: relative;
  left: 39%;
  width: 430px;
}

.clubecert-right .clubecert-ttt img {
  width: 100%;
  padding-top: 15px;
}

.clubecert-right .h2 {
  font-weight: bold;
  font-size: 43px;
  line-height: 49px;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */