@import url("../css/reset.css");

@font-face {
    font-family: "Squares";
    src: url("../fonts/SquaresBoldFree.otf");
}

body {
    font-family: "Squares";
    font-size: 17px;
    background: url(../img/bg.jpg) no-repeat;
    background-position: center bottom;
    background-size: cover;
    min-height: 100vh;
}


header {
    background-color: #7a866e;
    position: relative;
    z-index: 1;
}

.header-area {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    gap: 10px;
    max-width: 1917px;
    margin: 0 auto;
    align-items: center;
    padding: 0 20px;
}

.box_btn {
    justify-content: center;
    text-align: center;
    padding-bottom: 2px;
}

.box_btn ul {}

.box_btn ul li {
    display: inline-block;
}


.box_btn ul li a {
    background-color: #394531;
    min-width: 210px;
    height: 40px;
    display: inline-block;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #ffffff;
    padding: 10px 10px;
}
.box_btn ul li .active{
    background-color: #b5d198;
    position: relative;
}
.box_btn ul li .active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: #394531;
    bottom: 0;
}


.connect_btn {
    margin-left: auto;
}

.connect_btn a {
    font-size: 17px;
    color: #546048;
    background: url("../img/bg_bg1.png") no-repeat center;
    background-size: cover;
    width: 220px;
    height: 46px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.main-area {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 40px;
    position: relative;
    padding-bottom: 50px;
}

.fire-bg {
    position: absolute;
    top: -124px;
    left: 50%;
    transform: translateX(-50%);
}

.fire-bg img {
    width: 800px;
}

/* .fire-bg::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 800px;
    height: 800px;
    background: url('../img/fire-welding-sparks-png-thumb23.png') no-repeat center;
    background-size: cover;
    z-index: -1;
    margin: 0 auto;
    transform: translateX(-50%);
} */

.heading-text {
    position: relative;
    z-index: 1;
    padding-bottom: 40px;
}

.heading-text .h1 {
    font-size: 70px;
    color: #ffffff;
    padding-bottom: 10px;
}

.heading-text .h6 {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.3;
}

.geno-box {

    position: relative;
    z-index: 1;
}

/* .geno-box::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 10px;
    filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.75));
    background-color: #ffffff;
    border: 2px solid #8aff13;
    z-index: -11;
    height: 75%;
    width: 350px;
} */

.geno-box img {}

.box_bgi {
    position: relative;
}

.box_bgi img {
    width: 270px;
}

/* .box_bgi::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 423px;
    height: 217px;
    background: url('../img/Rounded.png') no-repeat center;
    background-size: cover;
    z-index: -1;
    margin: 0 auto;
    transform: translateX(-50%);

} */

.geno-box h5 {
    font-size: 33px;
    color: #333c2c;
    padding: 20px 0 0px;
}

.bnb_btn {
    font-size: 22px;
    color: #ffffff;
    border-radius: 10px;
    filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.75));
    background-color: #7a866e;
    width: 320px;
    margin: 0 auto;
    position: relative;
    bottom: -15px;
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
    align-items: center;
    left: 4px;
}

.bnb_btn img {
    width: 40px;
    margin-left: 15px;
    padding-bottom: 3px;
}

.check-footer {
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

.quantity {
    border-radius: 10px;
    background-color: #ffffff;
    width: 267px;
    height: 45px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
}

.quantity input {
    font-size: 35px;
    color: #7a866e;
    font-family: "Squares";
}

.quantity input,
.quantity button {
    outline: none;
    box-sizing: 0;
    border: 0;
    text-align: center;
}


.quantity button {
    cursor: pointer;
    border-radius: 3px;
    background-color: #546048;
    color: #fff;
    font-size: 36px;
    margin: 0;
    padding: 3px;
}
 

.wallet_btn{}
.wallet_btn a {
    font-size: 17px;
    color: #546048;
    background: url("../img/bgn_bg2.png") no-repeat center;
    background-size: cover;
    width: 371px;
    height: 79px;
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center; 
}
.wallet_btn a img {
    width: 40px;
    margin-left: 29px;
}

.wallet_btn {
    width: 380px;
    margin: 20px auto;
}


@media (min-width: 320px) and (max-width: 991.98px) {
    .connect_btn{
        display: none;
    }
    .header-area{
        grid-template-columns: 1fr;
        padding: 0;
        gap: 1px;
    }
    .logo {
        text-align: center;
        background: #394531;
        padding: 15px 0;
    }
    .box_btn ul li a { 
        min-width: 147px;
        height: 30px; 
        font-size: 13px; 
        padding: 10px 25px;
    }
    .box_btn ul li { 
        margin: 0 -10px;
    }
    .heading-text .h1 {
        font-size: 40px; 
    }
    .heading-text .h6 {
        font-size: 15px; 
    }
    .fire-bg img {
        width: 675px; 
    } 
    .box_bgi img {
        width: 207px;
    }
    .geno-box h5 {
        font-size: 20px; 
    }
    .bnb_btn {
        font-size: 17px; 
        width: 260px; 
    }
    .main-area {
        overflow: hidden;
        padding-bottom: 52px;
    }
    .quantity { 
        width: 215px;
        height: auto; 
    }
    .quantity button { 
        font-size: 30px; 
    }
    .quantity input {
        font-size: 27px; 
    }
    .wallet_btn a {
        font-size: 16px; 
        width: 315px;
        height: 59px; 
        margin: 0 auto;
    }
}

@media (min-width: 320px) and (max-width: 360px) {
    .heading-text .h1 {
        font-size: 35px;
    }
    .heading-text .h6 {
        font-size: 12px;
    }
    .wallet_btn a {
        font-size: 15px;
        width: 278px; 
        margin-left: 20px;
    }
    .wallet_btn a img {
        width: 30px;
        margin-left: 22px;
    }
     
    
}